/* Color of "Download My Resume:" */
.download-resume label {
  color: #fff;
}

/* Select2 Options */
/*                 */
/* Dropdown menu button */
.select2-container--default .select2-selection--single {
  background-color: #161415;
  border: 2px solid #fff;
  border-radius: 20px; /* Corner rounding */
  height: 40px;
  font-family: 'opensans-semibold-italic', sans-serif;
}

/* Text inside dropdown menu button */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
  line-height: 38px;
  padding-left: 16px;
}

/* Dropdown menu itself */
.select2-container--default .select2-dropdown {
  border-top-left-radius: 0; /* Corner rounding */
  border-top-right-radius: 0; /* Corner rounding */
  border-bottom-right-radius: 20px; /* Corner rounding */
  border-bottom-left-radius: 20px; /* Corner rounding */
  border: 1px solid #afafaf;
  background-color: #161415; 
  color: #fff; /* Text color */
}

/* Dropdown menu options */
.select2-container--default .select2-results__option {
  padding: 6px 12px; /* Padding for the options */
  color: #fff; /* Text color for the options */
}

/* Currently highlighted option */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #444;
  color: white; /* Text color for highlighted option */
  border-radius: 8px;
}

/* Currently selected object */
.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: transparent;
  color: white; /* Text color for selected option */
  border-radius: 20px; /* Corner rounding */
  margin-top: 10px;
}

/* Dropdown arrow */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px; /* Arrow size, make sure it matches the height of the select box */
  right: 10px; /* Distance from the right, adjust to match your old button */
}

/* Dropdown arrow color */
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent; /* White arrow */
}

